<% if !inquiry_item.nil? %>
<li id="<%= inquiry_item.id %>">
  <p>
    <%= inquiry_item.name %>(<%= mail_to inquiry_item.email %>)
    <br>
    <%= inquiry_item.created_at.to_s %>
  </p>
  <p>
    <strong><%= @categories[inquiry_item.category_id].name %></strong>
    <br>
    <%= wrap(inquiry_item.content) %>
    <br>
    <%= link_to "削除", inquiry_item, method: :delete,
                            data: { confirm: "削除しますか？" } %>
  </p>
</li>
<% end %>
