<% if !inquiry_item.nil? %>
<li id="<%= inquiry_item.id %>">
  <p>
    <%= inquiry_item.name %>(<%= mail_to inquiry_item.email %>)
    <br>
    受信：<%= inquiry_item.created_at.to_s %>　
    更新：<%= inquiry_item.updated_at.to_s %>
  </p>
  <p>
    <strong><%= cat_name(inquiry_item.category_id) %></strong>
    <br>
    <%= wrap(simple_format(inquiry_item.content)) %>
    <br>
    <%= link_to "削除", inquiry_item, method: :delete,
                            data: { confirm: "削除しますか？" } %>
    <%= link_to "詳細", inquiry_item, method: :get %>
  </p>
</li>
<% end %>
