<% provide(:title, 'お問合せ') %>
<h1>お問合せ</h1>

<div class="row">
  <div class="span3">
    <%= form_for(@inquiry) do |f| %>
    
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :category %>
      <%= f.collection_select(:category_id, @categories, :id, :name, :prompt => true) %>
      <%# f.collection_select :category_id, Category.all, :id, :name %>
      <%# f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.submit id: "create", class: "btn btn-large btn-primary", 
                                 :data => {:disable_with => "送信中..."}  %>
    <% end %>
  </div>
  <div class="span9"></div>
</div>



