<% provide(:title, 'お問合せ') %>
<h1>お問合せ</h1>

<div class="row">
  <div class="span5 offset2">
    <%= form_for(@inquiry) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.submit "次へ", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="span5"></div>
</div>



